### DataFrame com Pandas

In [1]:
import pandas as pd

In [2]:
dic = {
    'A': pd.Series([100.,200.,300.], index = ['Maça','Pera','Laranja']),
    'B': pd.Series([111.,222.,333.,444.], index = ['Maça','Pera','Laranja','Melão'])}
dic

{'A': Maça       100.0
 Pera       200.0
 Laranja    300.0
 dtype: float64,
 'B': Maça       111.0
 Pera       222.0
 Laranja    333.0
 Melão      444.0
 dtype: float64}

In [3]:
df = pd.DataFrame(dic)
df

             A      B
Laranja  300.0  333.0
Maça     100.0  111.0
Melão      NaN  444.0
Pera     200.0  222.0

In [4]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [5]:
df.index

Index(['Laranja', 'Maça', 'Melão', 'Pera'], dtype='object')

In [6]:
df.columns

Index(['A', 'B'], dtype='object')

In [7]:
pd.DataFrame(df, index=['Laranja','Melão'],columns=['B'])

             B
Laranja  333.0
Melão    444.0