### Importando Dados Excel

In [1]:
import numpy as np
import pandas as pd

In [4]:
file = "SeriesTemporais_Python/Download/Dados/boston1.xls"
df_excel = pd.ExcelFile(file)
df_excel

In [6]:
print(df_excel.sheet_names)

['Sheet1', 'Sheet2']

In [9]:
df1 = df_excel.parse('Sheet1')
df1.head()

,MV,INDUS,NOX,RM,TAX,PT,LSTAT,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,24.0,2.31,53.8,6.575,296,15.3,4.98,NaN,NaN,Subset of Boston housing tract
1,21.6,7.07,46.9,6.421,242,17.8,9.14,NaN,NaN,data of Harrison and Rubinfeld
2,34.7,7.07,46.9,7.185,242,17.8,4.03,NaN,NaN,(1978). Each case is one U.S.
3,33.4,2.18,45.8,6.998,222,18.7,2.94,NaN,NaN,Census tract in the Boston area.
4,36.2,2.18,45.8,7.147,222,18.7,5.33,NaN,NaN,NaN

In [11]:
df2 = df_excel.parse('Sheet2')
df2.head()

     MV  INDUS   NOX     RM  TAX    PT  LSTAT
0  24.0   2.31  53.8  6.575  296  15.3   4.98
1  21.6   7.07  46.9  6.421  242  17.8   9.14
2  34.7   7.07  46.9  7.185  242  17.8   4.03
3  33.4   2.18  45.8  6.998  222  18.7   2.94
4  36.2   2.18  45.8  7.147  222  18.7   5.33