### Importando Dados HTML

In [3]:
import html5lib
import pandas as pd

In [4]:
file_html = pd.read_html("https://pt.wikipedia.org/wiki/Unidades_federativas_do_Brasil")

In [5]:
print(type(file_html))

<class 'list'>

In [11]:
index_ = file_html[0]
print(index_)

               0                                                  1  \
0     Capítulo I             Da Organização Político-Administrativa
1    Capítulo II                                           Da União
2   Capítulo III                              Dos Estados Federados
3    Capítulo IV                                     Dos Municípios
4     Capítulo V              Do Distrito Federal e dos Territórios
5        Seção I                                Do Distrito Federal
6       Seção II                                    Dos Territórios
7    Capítulo VI                                     Da Intervenção
8   Capítulo VII                           Da Administração Pública
9        Seção I                                 Disposições Gerais
10      Seção II                            Dos Servidores Públicos
11     Seção III  Dos Militares dos Estados, do Distrito Federal...
12      Seção IV                                        Das Regiões

             2
0   art. 18-19
1   art. 20-24
2   art. 25-28
3   art. 29-31
4   art. 32-33
5      art. 32
6      art. 33
7   art. 34-36
8   art. 37-43
9   art. 37-38
10  art. 39-41
11     art. 42
12     art. 43

In [12]:
file_bancos = pd.read_html("https://pt.wikipedia.org/wiki/Lista_dos_maiores_bancos_do_Brasil")

In [16]:
file_bancos[3]

,Posição,Nome do banco,Cidade sede,Lucro em R$ (milhões),Ano dos dados,País de origem
0,1,Bradesco,Osasco,22.6235,2019,Brasil
1,2,Itaú Unibanco,São Paulo,22.1177,2019,Brasil
2,3,Caixa Econômica Federal,Osasco,17.4896,2019,Brasil
3,4,Banco do Brasil,São Paulo,15.6851,2019,Brasil
4,5,Santander Brasil,São Paulo,12.6092,2019,Espanha
5,6,BTG Pactual,São Paulo,3.5938,2019,Brasil
6,7,Sicoob,Brasília,3.0500,2019,Brasil
7,8,Banco Safra,São Paulo,1.9948,2019,Brasil
8,9,Banco do Nordeste,Fortaleza,1.5655,2019,Brasil
9,10,Banco Votorantim,São Paulo,1.1834,2019,Brasil
10,11,Banrisul,Porto Alegre,1.1483,2019,Brasil
11,12,Citibank Brasil,São Paulo,9577.0000,2019,Estados Unidos